html,
body,
main {
  
  justify-content: center;
  align-items: center;
  
}

body {
  font-family: "Arial Narrow", Arial, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #dadada;
    padding: 90px 0 325px 0;
  }

form {
  width: 400px;
  max-width: 50%;
  border: 2px solid #424242;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 40px;
  color: #424242;
}

fieldset {
  border: none;
  margin: 20px 0;
  height: 50px;
  display: flex;
  flex-direction: column;
  width: 75%;
}

label,
input {
  margin: 5px 0;
  display: block;
}

label {
  font-weight: bold;
  color: black;
}

input {
  width: 100%;
  border: 1px solid white;
  border-radius: 5px;
  outline: none;
  color: #444;
  padding: 7.5px 20px;
}

a {
  font-size: 12px;
  display: block;
}

form button {
  width: 110px;
  padding: 5px 20px;
  text-align: center;
  font-size: 12px;
  margin: 0 auto;
  background-color: #35008e;
  border: 1px solid #0075ff;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 10px;
  outline: none;
  cursor: pointer;
}
